{% extends 'base.html' %}

{% block content %}

    <section class='form'>
        <h2>Register</h2> 


        <form action="{{ url_for('auth.register') }}" method="post">
            
            <div><label>Email: <input type="email" name="email" required/></label></div>
            <div><label>User name: <input type="text" name="username" required/></label></div>
            <div><label>Password: <input type="password" name="password"  required/></label></div>
            <div><label>Repeat password: <input type="password" name="password_repeat" required/></label></div>
            <div>
                <input type="radio" name="role" value="manager" id="manager" required/><label for="manager">I am a manager</label>
                <input type="radio" name="role" value="customer" id="customer" required/><label for="customer">I am a customer</label>
            </div>

            <div><input id="popUp" class='submit' type="submit" value="Register"/></div>
        </form>

    </section>
{% endblock %}